<div class="container screen-only"></div>
  {{> title value="Dynamic skills graph"}}
  <div id="skills-graph" class="skills-graph screen-only">
    <link rel="stylesheet" href="style/style.css">
    <script type="text/javascript" src="js/skillset.js"></script>
    <script src="https://unpkg.com/d3-force-boundary@0.0.1/dist/d3-force-boundary.min.js"></script>
    <script type="text/javascript" src="js/viz.js"></script>
    <script>
      forceLayoutVisualize("mySkills.csv");
    </script>
  </div>
</div>