{{#if resume.skills.length}}
{{!-- <div class="skills-container"> --}}
    {{!-- <section class="container screen-only">
        {{> title value="Dynamic View"}}
        <a href="#skills-graph">Go to Dynamic Skill View</a>
    </section> --}}
    {{!-- <section class="container print-only">
        {{> title value="Dynamic View"}}
        <div class="qr-skill-container">
        <img src="images/qr-skills.png"></img>
        <h6>
            Go to <a href="https://eugene-blokhin.com/#skills-graph">https://eugene-blokhin.com</a> to see Dynamic Skill View
        </h6>
        </div>
    </section> --}}
    {{#each resume.skills}}
    <div class="container">
        {{#if name}}
        {{> title value=name}}
        {{/if}}
        {{#if level}}
        <h4 class="bold">{{level}}</h4>
        {{/if}}
        {{#if keywords.length}}
        <ul>
            {{#each keywords}}
            <li>
                <h6>{{.}}</h6>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    {{/each}}
{{!-- </div> --}}
{{/if}}